/* original inline CSS */
.fa-btn {
	margin-right: 6px;
}
.form-group div > span {
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}
.form-group div > span > button {
	padding: 0 0 0 5px;
}
.form-checkbox-group div label {
	width: 100%;
	text-align: initial !important;
}
.form-group label {
	margin-right: 10px;
}
a.nest-clickable-phone-number{
	color:#212121;
}


/* original theme */
td {
	vertical-align: middle!important;
}
.row {
	margin: 0 0;
}

ul.sidebar-menu{
	background:#ffffff !important;
}



/**
 * general
 */

.panel {
    border-radius: 0;
}

.navbar .container-fluid, .navbar-brand.navbar-brand-primary, .navbar-brand.navbar-brand-primary:hover {
    background-color: #000;
}

.navbar-brand{
	font-family:'Gill Sans', Calibri;
	font-size:20px;
	font-weight:normal;
}

#sidebar-tabs-menu {
    background-color: #fff
}

.sidebar.sidebar-skin-blue .sidebar-menu a {
    color: #000;
	font-family:'Gill Sans', Calibri;
	font-size:18px;
}

.sidebar.sidebar-skin-blue .sidebar-menu li.active > a {
    color: #86726A;
}

.sidebar.sidebar-skin-blue .sidebar-menu.sm-icons-block li.active > a i {
    background-color: transparent;
    color: #86726A;
}

.st-content {
    background-color: #f4f4f4;
}

.sidebar.sidebar-skin-blue .sidebar-menu {
    border: none;
}

.sidebar.sidebar-skin-blue .sidebar-menu.sm-icons-block li > a i {
    color: #000;
    background: #fff;
}

button.btn-primary {
    background-color: #666;
    border-color: #666;
    border-radius: 0;
}

button.btn-primary:hover {
    background-color: #86726A;
    border-color: #666;
}



.prototype-dummy-appointment .panel {
    background-color: transparent;
}

.prototype-dummy-appointment .panel table {
    background-color: #fff;
}

.panel-header:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid red;
    border-color: #000;
    top: 0;
    width: auto;
    /*overflow: hidden;*/
}


/**
 * block header from nest web
 */

div.gdl-header-wrapper {
    position: relative;
    height: 41px;
    line-height: 41px;
}

h3.gdl-header-title {
    font-size: 15px;
    font-weight: 200;
    float: left;
    margin-bottom: 0px;
    margin-right: 16px;
    margin-top: 4px;
    color: #303030;
}

div.gdl-header-gimmick-wrapper {
    overflow: hidden;
    height: 15px;
    position: relative;
    top: 4px;
}

div.gdl-header-right {
    float: right;
    font-size: 12px;
    line-height: 15px;
    margin-left: 16px;
    color: #86726a;
}

div.gdl-header-right a {
    color: #86726a;
    font-style: italic;
}

div.gdl-header-gimmick {
    border-top-width: 1px;
    border-top-style: solid;
    overflow: hidden;
    position: relative;
    top: 7px;
}

/**
 * custom font
 */
@font-face {
  font-family: 'gotham-medium';
  src: url('./fonts/Gotham-Medium/Gotham-Medium.eot'); 
  src: url('./fonts/Gotham-Medium/Gotham-Medium.woff2') format('woff2'), 
       url('./fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'),
       url('./fonts/Gotham-Medium/Gotham-Medium.ttf')  format('truetype'); 
}
ul.sidebar-menu, h3, .gdl-header-wrapper a, strong {
    font-family: 'gotham-medium';
}
.btn-primary {
    font-family: 'gotham-medium'; 
    border-radius: 0;
    background-color: #86726A;
}
.btn-primary:hover {
    background-color: #666;
}
.ls-bottom-footer .st-container{
	padding-bottom:0px;
}
.navbar-brand.navbar-brand-primary::after, .navbar-brand.navbar-brand-primary:hover::after{
	height:0px;
}
.navbar-default{
	border-bottom:0px;
}
.nest-message-banner{
	padding:5px 8px;
	color:#ffffff;
	margin-bottom:10px;
}
.nest-new .help-block{
	padding-top:0px;
	padding-bottom:0px;
}
.nest-new{
	width:100%;
	padding:0px;
}
.nest-new h4{
	color:#000000;
	text-decoration:underline;
	padding-bottom:10px;
}
.nest-new .panel-body{
	padding-bottom:25px;
}
.nest-new .nest-form-button-wrapper{
	padding-top:10px;
}
.nest-profile-picture-wrapper{
	text-align:center;
}
.nest-profile-picture-wrapper img{
	border-radius:100px;
	width:180px;
}
.nest-profile-picture-wrapper-public img{
	border-radius:75px;
	width:150px;
}


/* Form fields */
input:placeholder-shown, 
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"]
{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
input[type="file"]{
	background:#ffffff;
	padding:0px;
	border:0px;
	box-shadow:none;
}
.nest-new textarea{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-new select{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.form-checkbox-group div label input[type=number] {
	width: 100px;
	margin-left: 10px;
	margin-right: 4px;
	display: initial;
}
.admusers img{
	width:100%;
	border-radius:50%;
	margin-bottom:20px;
}
.admusers a{
	display:block;
}
.nest-admin-users-black{
	color:#000000 !important;
}
.nest-link-button{
	display:inline-block !important;
	border:0px !important;
}
.nest-dashboard-button-wrapper{
	
}
.nest-dashboard-button-wrapper a{
	color:#ffffff;
	font-size:140%;
	text-transform:uppercase;
	text-decoration:none !important;
}
.nest-dashboard-button{
	min-height:230px;
	text-align:center;
	padding-top:100px;
}
.nest-comments{
	text-align:center;
	max-height:250px;
	overflow-y:auto;
}
.nest-leasessales{
	text-align:center;
	max-height:250px;
	overflow-y:auto;
}
.nest-changes{
	text-align:center;
	max-height:250px;
	overflow-y:auto;
}
#propertyModalComments, #propertyModalChanges{
	max-height:250px;
	overflow-y:auto;	
}
.nest-new-comments-wrapper{
	padding-bottom:25px;
	text-align:center;
}
.nest-new-comments-wrapper button{
	margin-top:10px;
}
#shortlist-property-section .panel-primary .panel-heading{
	padding-top:10px;
	padding-bottom:10px;
	border-radius:0px;
}
.nest-property-list-buttons .btn{
	width:100%;
	text-align:center;
	margin-bottom:15px;
}
.nest-property-list-buttons .panel-body{
	padding-bottom:0px;
	padding-left:7.5px;
	padding-right:7.5px;
}
.nest-property-list-heading .panel-body{
	padding-bottom:0px;
	padding-left:7.5px;
	padding-right:7.5px;
}
.nest-property-list-heading .panel-body #client-name,
.nest-property-list-heading .panel-body #simple-search{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-properties-footer,
.nest-buildings-pagination{
	text-align:center;
}
.nest-new .pagination li.active > span,
.nest-buildings-pagination .pagination li.active > span{
	background:#86726a;
	border-color:#86726a;
}
.nest-new .pagination li a:hover,
.nest-new .pagination li a:focus,
.nest-new .pagination li a:active,
.nest-buildings-pagination .pagination li a:hover,
.nest-buildings-pagination .pagination li a:focus,
.nest-buildings-pagination .pagination li a:active{
	color:#86726a;
}
.nest-properties-footer .pagination{
	margin-bottom:10px !important;
}
.nest-property-list-heading a{
	margin-bottom:15px;
	border:0px;
}
.nest-property-list-heading h4{
	margin-top:5px;
}
.nest-properties-footer ul.pagination{
	margin:0px;
	margin-bottom:15px;
}
.nest-properties-footer .panel-body{
	padding-bottom:0px;
}
.nest-properties-footer input[type="text"]
{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-header-search-area,
.nest-header-search-area .input-group{
	width:370px !important;
}
.nest-property-list-item .panel-body{
	padding-bottom:10px;
}
.nest-property-list-item .ribbon-default::before{
	display:none !important;
}
.nest-property-list-item-top{
	border-bottom:1px solid #cccccc;
}
.nest-property-list-item-top-checkbox{
	float:left;
	padding:5px 10px 4px;
}
.nest-property-list-item-top-building-name{
	float:left;
	text-transform:uppercase;
	padding:6px 0px 4px;
	font-size:18px;
	width:80%;
	font-family:'Gill Sans', Calibri;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nest-property-list-item-bottom-address-wrapper{
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
}
.nest-property-list-item-bottom-address{
	float:left;
	width:74%;
}
.nest-property-list-item-bottom-unit{
	float:right;
	width:25%;
	text-align:right;
}
.nest-property-list-item-bottom-rooms-wrapper{
	border-bottom:1px solid #cccccc;
	padding:5px 10px;	
}
.nest-property-list-item-bottom-rooms-left{
	float:left;
	width:30%;	
}
.nest-property-list-item-bottom-rooms-right{
	float:right;
	width:69%;
	text-align:right;	
}
.nest-property-list-item-bottom-size-wrapper{
	border-bottom:1px solid #cccccc;
	padding:5px 10px;	
}
.nest-property-list-item-bottom-size-left{
	float:left;
	width:30%;	
}
.nest-property-list-item-bottom-size-right{
	float:right;
	width:69%;
	text-align:right;	
}
.nest-property-list-item-bottom-buttons-wrapper{
	padding:10px 10px;
}
.nest-property-list-item-bottom-features-wrapper{
	border-bottom:1px solid #cccccc;
	text-align:center;
	padding:5px 0px;
}
.nest-property-list-item-bottom-features-wrapper img{
	width:60px;
}
.nest-property-list-item-image-wrapper{
	position:relative;
	border-bottom:1px solid #cccccc;
}
.nest-property-list-item-price-wrapper{
	position:absolute;
	right:0px;
	bottom:0px;
	padding:5px 10px;
	background:rgba(134, 114, 106, 0.8);
	color:#ffffff !important;
}
.nest-property-list-item-avdate-wrapper{
	position:absolute;
	left:0px;
	bottom:0px;
	padding:5px 10px;
	background:rgba(120, 120, 120, 0.8);
	color:#ffffff !important;
}
.nest-property-list-item-image-top-bar{
	position:absolute;
	right:0px;
	top:0px;
	font-size:12px;
	color:#ffffff;
}
.nest-property-list-item-image-top-bar-left{
	position:absolute;
	left:0px;
	top:0px;
	font-size:12px;
	color:#ffffff;
}
.nest-property-list-item-nestpics-wrapper{
	float:right;
	background:rgba(255, 255, 255, 0);
}
.nest-property-list-item-nestpics{
	padding:5px 8px;
}
.nest-property-list-item-nestpics img{
	height:42px;
}
.nest-property-list-item-hot-wrapper{
	float:right;
	background:rgba(255, 0, 0, 0.6);
}
.nest-property-list-item-sole-agency-wrapper {
	float: right;
	background: #34302f;
  }
.nest-property-list-item-bonus-wrapper{
	float:right;
	background:rgba(0, 160, 0, 0.6);
}
.nest-property-list-item-sold-wrapper{
	float:right;
	background:rgba(134, 114, 106, 0.8);
}
.nest-property-list-item-leased-wrapper{
	float:right;
	background:rgba(134, 114, 106, 0.8);
}
.nest-property-list-item-web-wrapper{
	float:right;
	background:rgba(120, 120, 120, 0.8);
}
.nest-property-list-item-cp-wrapper{
	float:right;
	background:rgba(0, 58, 153, 0.8);
}
.nest-property-list-item-hot,
.nest-property-list-item-bonus,
.nest-property-list-item-sold,
.nest-property-list-item-leased,
.nest-property-list-item-web,
.nest-property-list-item-cp,
.nest-property-list-item-sa{
	padding:5px 10px;
}
.nest-property-list-item-web a,
.nest-property-list-item-cp a{
	color:#ffffff;
}
.nest-property-list-item-checkbox-wrapper{
	position:absolute;
	left:0px;
	bottom:0px;
	padding:5px 11px 5px 10px;
	background:rgba(255, 255, 255, 1);
	color:#000000 !important;	
	border-radius:0px 10px 0px 0px;
}
.nest-property-list-select-all{
	display:inline-block;
	padding-right:20px;
}
.nest-property-list-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-property-list-dialog{
	margin-top:50px !important;
	width:90% !important;
	max-width:1600px;
}
.nest-property-list-dialog .modal-body{
	background:#f4f4f4;
}
.nest-property-list-dialog #show-property-modal-pics{
	background:#ffffff;
}
.nest-property-list-dialog #propertyModalComments,
.nest-property-list-dialog #propertyModalChanges,
.nest-property-list-dialog #propertyModalLeaseSales{
	background:#ffffff;
	padding:10px;
	border:1px solid #e5e5e5;
}
.nest-property-list-dialog .modal-body .nest-property-list-detail-wrapper .row{
	background:#ffffff;
}
.nest-property-list-dialog .modal-body .nest-property-list-detail-wrapper .nest-striped{
	background:#f9f9f9;
}
.nest-property-list-dialog .modal-header h4{
	padding-bottom:0px;
}
.nest-property-list-dialog .modal-content{
	border-radius:0px;
}
.nest-property-pic-slider-wrapper img{
	border:5px solid #ffffff;
}
.nest-property-pic-slider-wrapper .slick-dots{
	bottom:0px !important;
}
.nest-property-pic-slider-wrapper #show-pics-slider{
	margin-bottom:0px !important;
	padding-bottom:10px !important;
}
.nest-property-pic-slider-wrapper .slick-prev::before, 
.nest-property-pic-slider-wrapper .slick-next::before{
	color:#cccccc;
}
.nest-property-list-detail-wrapper{
}
.nest-property-list-dialog-loading{
	text-align:center;
	padding:20px;
}
.nest-building-show-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
#search-navbar{
	color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
	width:100%;
}
.easy-autocomplete{
	width:100% !important;
}
.easy-autocomplete-container{
	z-index:9 !important;
}
.nest-vendor-show-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;	
}
.nest-responsive-menu-row{
	padding-top:5px;
	padding-bottom:5px;
}
.vendor-add-rep-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.vendor-add-rep-wrapper input,
.vendor-add-rep-wrapper textarea{
	margin-bottom:15px;
}
.nest-property-list-search-button{
	padding:7px 10px !important;
}
@media (min-width:400px){
	.nest-property-list-search-button{
		min-width:150px;
	}
}
.st-content-inner-custom{
	position:relative;
	padding-top:15px;
	overflow:scroll !important;
	-webkit-overflow-scrolling: touch;
	height:100%;
}
.nest-striped{
	background:#f9f9f9;
}
.nest-buildings-pagination{
	background:#ffffff;
}
.nest-buildings-new-panel{
	padding-left:0px;
	padding-right:0px;
}
.nest-buildings-result-wrapper{
	background:#ffffff;
}
.nest-buildings-result-wrapper .row{
	padding:8px 7.5px;
	border:1px solid #e0e7e8;
	border-collapse:collapse;
}
.nest-buildings-result-wrapper .nest-button{
	margin-top:4px;
}
.nest-buildings-search-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;	
}
.nest-buildings-search-wrapper #property-name,
.nest-buildings-search-wrapper select{
	color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
	width:100%;
}
.nest-buildings-search-wrapper > div{
	padding-bottom:15px !important;
}
.nest-buildings-search-wrapper > div.clearfix{
	padding-bottom:0px !important;
}
.nest-buildings-search-buttons-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;	
}
.nest-buildings-search-panel{
	margin-bottom:15px;
}

.nest-property-edit-wrapper{
	padding-top:0px;
	padding-bottom:0px;
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-property-edit-wrapper .panel-default{
	margin-bottom:15px;
}
.nest-property-edit-wrapper .panel-body{
	padding-bottom:15px;
}
.nest-property-edit-row{
	padding-bottom:3px;
}
.nest-property-edit-row-contacts label.control-label{
	font-weight:normal;
	padding-top:0px;
}
.nest-property-edit-label{
	padding-top:8px;
	font-weight:bold;
}
.nest-property-edit-label-features{
	font-weight:bold;
	padding-bottom:1px;	
}
.nest-property-edit-label-outdoor{
	padding-top:6px;
	font-weight:bold;	
}
.nest-property-edit-label-outdoor label{
	margin-bottom:0px;
	padding-top:0px !important;	
}
.nest-property-edit-checkbox-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-property-edit-checkbox-wrapper label{
	margin-bottom:0px;
	padding-top:0px !important;
}
.nest-icon-edit{
	float:left;
	margin-top:-5px;
}
.nest-icon-edit img{
	height:24px;
}
.nest-property-edit-radio-wrapper label,
.nest-property-edit-radio-wrapper .nest-property-edit-label{
	padding-top:4px !important;
	padding-bottom:2px !important;
}
.nest-property-edit-wrapper input[type="text"],
.nest-property-edit-wrapper input[type="email"],
.nest-property-edit-wrapper input[type="number"],
.nest-property-edit-wrapper input[type="password"],
.nest-property-edit-wrapper input[type="date"],
.nest-property-edit-wrapper input[type="file"],
.nest-property-edit-wrapper textarea,
.nest-property-edit-wrapper select{
    height:auto;
	padding-top:5px;
	padding-bottom:4px;
}
.nest-property-edit-wrapper .easy-autocomplete input{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-property-edit-rep-wrapper,
.nest-property-edit-agent-wrapper{
	padding-bottom:10px !important;
}
.nest-property-edit-rep-wrapper label,
.nest-property-edit-agent-wrapper label{
	text-align:left !important;
}
.nest-button,
button.nest-button{
	background:#86726a;
	border-radius:0px;
	border:0px;
}
.nest-button:hover,
.nest-button:active,
.nest-button:focus,
button.nest-button:hover,
button.nest-button:active,
button.nest-button:focus{
	background:#bcaea9;
}
.nest-right-button{
	float:right;
	margin-left:10px;
}
.nest-property-edit-upload-label{
	font-weight:bold;
	text-decoration:underline;
	padding-bottom:5px;
}
.nest-property-edit-upload-images img{
	margin-right:10px;
	height:120px !important;
	width:auto !important;
}
.nest-property-edit-upload-output{
	
}
.nest-property-edit-hk-homes-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-property-edit-hk-homes-wrapper input[type="text"]{
	padding-top:5px;
	padding-bottom:5px;	
}
.nest-delete-row{
	margin-left:-7.5px;
	margin-right:-7.5px;	
}

.nest-property-new-search{
	padding-top:15px;
	padding-left:7.5px;
	padding-right:7.5px;
}
.nest-property-new-search-multiple{
	height:34px !important;
	width:100%;
}
.nest-property-search-rent-wrapper a{
	display:inline-block;
	padding:5px 10px;
	margin-right:5px;
	background:#ffffff;
	color:#86726a;
	text-decoration:none;
}
a.nest-property-search-rent-active{
	background:#86726a;
	color:#ffffff;
}
.nest-property-new-search-col{
	margin-bottom:15px !important;
}
.nest-property-new-search .easy-autocomplete input{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-property-new-search .chosen-container{
    border-radius: 0;	
	box-shadow:none !important;
	font-size:14px;
	line-height:1.42857143;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:0px;
	max-width:100% !important;
}
.nest-property-new-search .chosen-container > ul{
    min-height:34px !important;
    color: #666 !important;
    border-color: #666 !important;
    background-color: #fff !important;	
	padding:3px 12px;
}
.nest-property-new-search .ui-customSelect-dropdown li{
	padding:0px 12px;
}

.nest-property-show-picture-wrapper{
	border-bottom:1px solid #e5e5e5;
	padding-bottom:5px;
}
#propertyModalTitle{
	text-transform:uppercase;
	font-size:24px;
	font-family:'Gill Sans', Calibri;
	color:#212121;
	padding-left:15px;
}
.nest-property-list-dialog h5{
	text-transform:uppercase;
	font-size:18px;
	font-family:'Gill Sans', Calibri;
	color:#212121;	
}
.nest-property-shortlist-district-h3{
	text-align:left;
	text-transform:uppercase;
	padding-left:7.5px;
	font-size:24px;
	font-family:'Gill Sans', Calibri;
	color:#212121;	
}
.nest-property-list-detail-wrapper .row{
	border:1px solid #e5e5e5;
	border-top:0px;
	padding-top:3px;
	padding-bottom:3px;
	border-collapse:collapse;
}
.nest-property-list-detail-wrapper .nest-property-list-detail-first-row{
	border-top:1px solid #e5e5e5;
}
.nest-shortlist-input .easy-autocomplete input{
    color: #666;
    border-color: #666;
    background-color: #fff;
    border-radius: 0;
}
.nest-shortlist-input .row{
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-user-changes-wrapper{
	margin-left:-7.5px;
	margin-right:-7.5px;	
}
.nest-user-changes-wrapper-inner h5{
	color:#000000;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	text-decoration:underline;
	margin:0px;
	padding-top:10px;
	padding-bottom:2px;
}
.nest-user-changes-wrapper-inner h5:first-child{
	padding-top:0px;
}
.nest-property-list-sort select{
	float:right;
	width:auto;
	margin-left:10px;
}
.nest-form-builder-hide-wrapper label{
	font-weight:normal;
	padding-top:0px;
	text-align:left !important;
}
.nest-form-builder-hide-wrapper label input[type="checkbox"]{
	float:left;
	margin-right:5px;
}
.nest-form-builder-hide-section{
	padding-top:15px;
	text-decoration:underline;
}
.nest-form-field-wrapper label{
	font-weight:normal;
	padding-top:0px;
	text-align:left !important;
}

.user-profile-signature img{
	max-height:100px;
}

.nest-documents-table{
	width:100%;
}
.nest-documents-table td{
	font-weight:normal;
}
.nest-documents-table-buttons{
	text-align:right;
}
.nest-documents-table-buttons .nest-button{
	margin-top:5px;
	margin-bottom:5px;
}
.nest-propety-docs-uploaded{
	padding-top:6px !important;
	padding-bottom:2px !important;
}


.nest-sortable-list{
	
}
.nest-sortable-list li{
	
}

.o-sortable{
	list-style-type:none;
	padding-left:0px;
	margin-bottom:0px;
}
.o-sortable li{
	padding:5px 10px;
	border:1px solid #cccccc;
	margin-bottom:5px;
	cursor:move;
}
.o-sortable li a.clearitem,
.o-sortable li a.edititem{
	cursor:pointer;
}



.nest-dashboardnew-wrapper{
	padding:0px;
	margin-left:-7.5px;
	margin-right:-7.5px;
}
.nest-dashboardnew-wrapper h4{
	padding-bottom:0px;
}
.nest-dashboardnew-wrapper .panel-body{
	padding-bottom:15px;
}
.nest-dashboardnew-list{
	text-align:left;
	max-height:200px;
	overflow-y:auto;
}
.nest-dashboardnew-lead{
	padding-bottom:5px;
}
.nest-dashboardnew-lead .col-xs-6{
	padding-left:0px;
}
.nest-dashboardnew-lead .col-xs-4{
	padding-right:0px;
}
.nest-dashboardnew-lead img{
	border-radius:12px;
	padding-right:3px;
}

.calendar-entry{
	border:1px solid #cccccc;
	border-radius:5px;
	padding:5px;
	margin-top:5px;
}
.calendar-entry-top{
	position:relative;
	font-weight:bold;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:20px;
}
.calendar-entry-top img{
	position:absolute;
	top:-20px;
	left:-20px;
	width:40px;
	border-radius:20px;
	border:1px solid #cccccc;
}
.calendar-entry-car{
	position:relative;
	font-weight:bold;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:20px;
}
.calendar-entry-car img{
	position:absolute;
	bottom:0px;
	right:0px;
	width:22px;
}
.calendar-entry-time{
	font-size:12px;
}
.calendar-entry-client{
	font-size:12px;
}
.calendar-top-date{
	width:auto;
	float:left;
	padding-left:5px;
	padding-right:0px;
	margin-right:3px;
	padding-bottom:5px !important;
}
.calendar-top-text{
	width:auto;
	float:left;
	margin-right:3px;
	padding-top:6px;
}
.calendar-top-time{
	width:auto;
	float:left;
	padding-left:3px;
	padding-right:0px;
	margin-right:3px;
	padding-top:6px !important;
	padding-bottom:5.5px !important;
}
.calendar-top-month{
	width:auto;
	display:inline-block;
	padding-left:3px;
	padding-right:0px;
	margin-left:3px;
	margin-right:3px;
	padding-top:6px !important;
	padding-bottom:5.5px !important;
}

.nest-property-pic-slider-bigimg-wrapper{
	max-height:800px;
	text-align:center;
}
.nest-property-pic-slider-bigimg{
	max-height:800px;
}
.nest-property-pic-slider-wrapper .slick-dots li.slick-active button:before{
	color:#86726a;
	font-family: FontAwesome;
	content:'\f111';
	opacity:1;
	font-size:12px;
}
.nest-property-pic-slider-wrapper .slick-dots li button:before{
	color:#86726a;
	font-family: FontAwesome;
	content:'\f10c';
	opacity:1;
	font-size:12px;
}
.nest-property-pic-slider-wrapper .slick-dots li{
	margin:0px;
}
.nest-property-pic-slider-wrapper ul.slick-dots{
	bottom:-25px !important;
}
#show-pics-slider-big{
	padding-bottom:0px;
}
@media (max-height:1199px){
	.nest-property-pic-slider-bigimg-wrapper{
		max-height:600px;
		text-align:center;
	}
	.nest-property-pic-slider-bigimg{
		max-height:600px;
	}
}
@media (max-width:768px){
	.nest-property-pic-slider-bigimg-wrapper{
		max-height:400px;
		text-align:center;
	}
	.nest-property-pic-slider-bigimg{
		max-height:400px;
	}
}
@media (max-width:768px){
	.nest-property-pic-slider-bigimg-wrapper{
		max-height:400px;
		text-align:center;
	}
	.nest-property-pic-slider-bigimg{
		max-height:400px;
	}
}
@media (max-width:400px){
	.nest-property-pic-slider-bigimg-wrapper{
		max-height:300px;
		text-align:center;
	}
	.nest-property-pic-slider-bigimg{
		max-height:300px;
	}
}
.nest-calendar-heading h4{
	font-size:24px;
	margin-top:6px;
	text-decoration:none;
}

.nest-property-pic-slider-bigimg-slide img{
	opacity:0.4;
	height:100%;
}
.nest-property-pic-slider-bigimg-slide.slick-active img{
	opacity:1;
	height:100%;
}
.lead-client-pic{
	float:right;
	padding:10px;
}
.lead-client-pic img{
	height:50px;
	border-radius:25px;
}

.dashboard-chart-wrapper{
	padding-top:10px;
}
.dashboard-chart-buttons a.nest-button:focus{
	background-color:#86726a !important;
}
.nest-commission-average{
	float:right;
	padding-right:10px;
	padding-top:10px;
}

.nest-property-list-table-wrapper{
	overflow-x:scroll;
}
.nest-property-list-table-nobr{
	white-space: nowrap;
}
.nest-property-list-table-wrapper tr{
	border:1px solid #e0e7e8;
}
.nest-property-list-table-wrapper .striped{
	background:#f9f9f9;
}
.nest-property-list-table-wrapper td{
	padding:2px 10px;
}
.nest-property-list-table-header td{
	font-weight:bold;
	text-align:center;
}

.draganddropup input{
	text-align:center;
	padding-bottom:30px !important;
	padding-top:30px !important;
	background:#efefef;
	margin-top:10px;
	border-radius:0px;
	height:auto;
}
.draganddropupdocument input{
	text-align:center;
	padding-bottom:20px !important;
	padding-top:20px !important;
	background:#efefef;
	border-radius:0px;
	height:auto;
}
.nest-propety-prop-docs-upload select{
	height:32px;
}

.calendar-add-edit-wrapper input,
.calendar-add-edit-wrapper select{
	height:34px !important;
}
.calendar-add-edit-wrapper input[type="date"]{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.calendar-add-edit-wrapper input[type="date"],
.calendar-add-edit-wrapper select{
	margin-bottom:10px;
	margin-right:8px;
}
.calendar-add-edit-wrapper .calendar-top-time[name="timeto"]{
	margin-left:5px;
}

.calendar-comments-field{
	width:auto;
	float:left;
}
.calendar-entry-comment{
	font-size:12px;
	padding-top:5px;
}

.d-flex {display: flex;}
.ml-auto {margin-left: auto;}
.mr-5 {margin-right: 25px;}
.list-style-none {list-style: none;}












