@font-face {
    font-family: Myriad;
	src: url('fonts/myriad-pro-regular.ttf'); 
}
@font-face {
    font-family: MyriadBold;
	src: url('fonts/myriad-pro-bold.ttf'); 
}
body{
	font-family:Myriad;
	text-align:justify;
	line-height:1;
	font-size:14px;
}
@page {
	margin: 5.5cm 1.5cm 0cm 1.5cm;
}
#header,
#footer{
	position: fixed;
	left: 0;
	right: 0;
	color: #000000;
	font-size: 75%;
}
#footer{
    text-align: center;
    line-height: 0px;
    width: 100%;
    height: 25px;
    margin: 0 -15cm;
}
#footer a {
    text-decoration: none;
    color: black;
    padding-top: 17px;
    display: block;
	background-color:#C6C3C1;
	width: inherit;
	height: inherit;
}
#header {
	top: -165px;
	padding-bottom:5px;
	z-index:10;
}
#footer {
	bottom: 0;
	border-top: 0.1pt solid #000000;
	padding-top:0;
}
#header table,
#footer table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
#footer td {
	padding: 0;
	width: 50%;
}
.page-number {
	text-align: right;
	color: black; 
	position: absolute;
	display: block;
	width: 70%;
	height: 10px;
	top: 17px;
}
.page-number:before {
  content: counter(page);
  margin-right: 20px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nest-pdf-lfl-top-left {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin-top: 5px;
}
.nest-pdf-letterhead{
	float:right;
	width:160px;
	text-align:left;
	line-height:1.1;
	z-index:999;
	background:#ffffff;
}
.nest-pdf-letterhead img{
	width:160px;
}
.nest-pdf-letterhead-text{
	font-size:11px;
	padding:5px 3px;
	padding-bottom:12px;
}
.nest-pdf-ol-top-left{
	padding-top:40px;
	padding-bottom:0px;
}
.nest-pdf-ol-top-subject{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-align:right;
	text-transform:uppercase;
	text-decoration:underline;
	font-size:14px;
}
.nest-pdf-ol-top-premises{
	padding-bottom:10px;
	padding-top:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.2;
	text-align:justify;
	text-decoration:underline;
	font-size:14px;
	padding-right:5px;
	font-weight:bold;
}
.nest-pdf-ol-top-subject-header{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-align:right;
	text-transform:uppercase;
	text-decoration:underline;
	color:#000000;
	font-size:14px;
	padding-top:15px;
	padding-bottom:10px;
}
.nest-pdf-ol-top-premises-header{
	padding-top:4px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:justify;
	line-height:1.2;
	font-size:14px;
	text-decoration:underline;
	color:#000000;
	padding-right:4px;
	font-weight:bold;
}
.nest-pdf-ol-table{
	margin-bottom:30px;
}
.nest-pdf-ol-table-right-td{
	padding-bottom:10px;
}
.nest-pdf-ol-table td{
	vertical-align:top;
	text-align:justify;
	font-size:14px;
}
.nest-pdf-ol-top-intro{
	padding-bottom:10px;
	text-align:justify;
}

.nest-hide-first-header{
	background:#ffffff;
	z-index:99;
	margin-top:-258px;
	text-align:right;
	padding-top:50px;
	padding-bottom: 15px; 
}
.nest-hide-first-header img{
	width:160px;
}
.nest-pdf-ol-bottom-1{
	padding-bottom:20px;
	text-align:justify;
}
.nest-pdf-ol-bottom-2{
	padding-bottom:20px;
	text-align:justify;
}

.nest-pdf-ol-signature{
	padding:20px 0px 10px;
}
.nest-pdf-ol-signature img{
	max-height:80px;
	max-width:300px;
}
.nest-pdf-ol-licensnr{
	font-size:12px;
	padding-top:5px;
	padding-bottom:30px;
}
.nest-pdf-ol-final-legal-note{
	font-size:9px;
	padding:5px;
	line-height:1;
    text-align:center;
    position: absolute;
	bottom: 40px;
}
td.nest-pdf-ol-table-gap{
	font-size:6px !important;
}
.nest-pdf-lfl-bold {
	font-weight: bolder;
}
.nest-pdf-lfl-top-premises{
	padding-bottom:20px;
	padding-top:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	line-height:1.2;
	font-size:14px;
	text-decoration:underline;
	text-align:justify;
	padding-right:5px;
}
.nest-pdf-lfl-bottom-1{
	padding-top:17px;
}
.nest-pdf-lfl-signature-names{
	line-height:1 !important;
}
.nest-pdf-lfl-consultant{
	line-height:1 !important;
}
.nest-pdf-lfl-licensnr{
	font-size:12px;
	padding-top:5px;
	padding-bottom:30px;
}
.nest-pdf-lfl-bold{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nest-pdf-hdl-top-premises{
	padding-bottom:30px;
	padding-top:30px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	line-height:1.2;
	font-size:14px;
	text-decoration:underline;
	text-align:justify;
	padding-right:5px;
}

.nest-pdf-sl-top-premises{
	padding-bottom:20px;
	padding-top:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	line-height:1.2 !important;
	font-size:14px;
	text-decoration:underline;
	text-align:justify;
	padding-right:5px;
}